<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="collin_ph.batterytweak"
      android:screenOrientation="portrait"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
       			  android:screenOrientation="portrait"
       			   android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <receiver android:name=".BootDemoReciever">
       <intent-filter>
       <action
       android:name ="android.intent.action.BOOT_COMPLETED">
       </action>
       </intent-filter>
       </receiver>
       <service android:name=".BootService">
       <intent-filter>
       <action
       android:name = "collin_ph.batterytweak.BootService">
       </action>
       </intent-filter>
       </service>
        <activity android:name=".Battery" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity> 
        <activity android:name=".Diagnostics" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".Fixes" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".Performance" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".Profile" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity>      
        <activity android:name=".SliderDialog" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"></activity>       
    </application>


</manifest> 